@import "react-slideshow-image/dist/styles.css";

.containerSlide {
    width: 80vw;
    height: 80vh;
    margin-top: 10%;
    margin-bottom: 5rem;
    background-image: url(../../../imgs/wall.png);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.containerSlide img {
    height: 400px;
    padding-top: 9rem;
    display: flex;
    margin: auto;
}

.containerSlide span {
    text-align: center;
    padding: 50px;
    display: block;
    font-size: 1rem;
}