@import "react-slideshow-image/dist/styles.css";

.containerSlide {
    width: 70vw;
    height: 70vh;
    margin-top: 10%;
}

.containerSlide img {
    height: 400px;
    padding: auto;
    display: flex;
    margin: auto;
}

.containerSlide span {
    text-align: center;
    padding: 40px;
    display: block;
    font-size: 1rem;
}