.landing-button{
    background-color: #000000;
    color: #FFFFFF;
    width: 100px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1rem;
}