.page{
    background-color: #000000;
    color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    font-size: 0.9rem;
}

h1{
    margin: 0;
    padding: 10px;
}

p{
    padding: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.email{
    color: #9a8585;
    font-style: italic;
    margin-left: 50px;
    margin-right: 80px;
}