.bio{
    background-color: #000000;
    color: #FFFFFF;
    width: 100vw;
    height: 100%;
    display: grid;
    font-family: PPNeueMontreal;
    font-size: 1.2rem;
    padding-left: 3rem;
}

.writing{
    width: 100%;
}
.writing p{
    width: 60%;
    font-size: 1.05rem;
}

h1, h2{
    margin: 0;
    padding: 10px;
    grid-column: 1;
    width: 90%;
}

p{
    padding: 5px;
    margin-left: 10px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    font-style: italic;
}

.email{
    color: #9a8585;
    font-style: italic;
    margin-left: 50px;
    margin-right: 80px;
}
.slidess{
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
    right: 100px;
    margin-top: -5%;
}

.font-face-gm {
    font-family: "PPNeueMontreal";
   }

.writing > .team{
    line-height: 0.9rem;
    font-size: 0.85rem;
    padding-left: 3rem;
}

.writing > .team > p{
    width: 80%;
}